/*
    =============
        Basic
    =============
*/

.write-display{
    display: flex;
    align-items: center;
    flex-direction: column;
}


/*
    =======================
        Progress-Status
    =======================
*/

.progress-status{
    margin: 1em 1em 2em 1em;
    padding: 0.5em;
    border-radius: 15px;
    background-image: linear-gradient(#d1d1d1, #8a8a8a);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 3em;

    .progress{
        display: flex;
        .stats-box{
            margin: 0.5em;
            .stats-bar{
                /*TODO: Stats Bar*/
            }

            .progress-bar{
                /*TODO: Progress Bar*/
            }
        }
    }
}


/*
    ===================
        Answer-Box
    ====================
*/

.answer-box{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-image: linear-gradient(#d1d1d1, #8a8a8a);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    width: 60%;
    height: auto;

    .answer-sub-box{
        margin: 2em;
        height: 10em;
        .answer{
            margin: 1.5em

        }
        .user-answer-box{
            margin-bottom: 2em;
            input{
                height: 2em;
                width: 30em;
                border-radius: 15px;
            }
        }
        .right-answer-box{
            display: none;
            h1{
                margin: 0em 0 0 1.5em;
            }
        }
    }

    hr{
        width:90%;
        margin:0 auto;
    }
}